<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <parameter name="exampleDesc" value="TestNG Parameter Example">
 </parameter>
  <test thread-count="5" name="Test">
  
    <classes>
      
      <class

               name="diffBrowsers.ParamsExample" />
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
